.divBackGround {
    background-color: #DBE5FF;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
    min-height: 100vh;
}

.divRetangulo {
    height: fit-content;
    background: rgba(255, 255, 255, 0.96);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
    border-radius: 73px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 9;
    padding-left: 80px;
    padding-right: 80px;
    box-sizing: border-box;
    padding-bottom: 95px;
    width: fit-content;
}

.logoSimbolo {
    position: absolute;
    left: -25px;
    top: -29px;
}

.logoCubos {
    margin-left: -48px;
    margin-top: 0.67em;
    object-fit: none;
    height: fit-content;
    align-self: left;
    padding-top: 16px;
}

.tituloPagina {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 82px;
    color: #67647E;
    width: 100%;
    margin-left: 8%;
}

.divColunas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 42px;
}

.headerLogoTitulo {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    position: relative;
    line-height: 82px;
    font-size: 55px;
    text-align: center;
}

.headerLogoTitulo :not(:last-child) {
    margin-right: 30px;
}

.leftColumn {
    display: flex;
    flex-direction: column;
}

.basimga {
    margin-top: 13px;
}

.inputNome {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    border: none;
    width: 100%;
    margin-left: 8px;
    color: #6C6A83;
}

.inputNome:active, .inputNome:focus {
    outline: none;
}

.inputCorCamisa {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    border: none;
    width: 100%;
    margin-left: 8px;
    color: #6C6A83;
}

.inputCorCamisa:active, .inputCorCamisa:focus {
    outline: none;
}

.spanLabel {
    color: #6C6A83;
    padding-bottom: 19px;
}

.spanLabelNome {
    color: #6C6A83;
}

.divInputNome {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: auto;
    padding: 4px 21px;
    display: flex;
    align-items: center;
}

.divInput {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: auto;
    padding: 4px 21px;
    margin-top: 21px;
    display: flex;
    flex-direction: column;
}

.divTextAreaExterna {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: auto;
    padding: 4px 21px;
    margin-top: 21px;
    display: flex;
    flex-direction: column;
}

.divTextAreaInterna {
    width: auto;
    height: 121px;
}

.textArea {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    border: none;
    height: 100%;
    width: 100%;
    color: #6C6A83;
    overflow: hidden;
    box-sizing:border-box;
    resize: none;
}

.textArea:active, .textArea:focus {
    outline: none;
}

.divFuncoesQA {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: auto;
    margin-top: 21px;
    padding: 4px 21px;
    display: flex;
    flex-direction: column;
}

.funcoesQAAlternativas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 19px;
    grid-column-gap: 19px;
    grid-row-gap: 9px;
}

.checkFuncoesQA {
    margin-right: 60px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #6C6A83;
}

.divProporcoes {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: auto;
    padding: 4px 21px;
    margin-top: 21px;
    display: flex;
    flex-direction: column;
}

.proporcoesAlternativas {
    display: flex;
    flex-direction: row;
}

.radioProporcoes {
    margin-right: 60px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #6C6A83;
}

.divMelhorStack {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: auto;
    padding: 4px 21px;
    margin-top: 21px;
    display: flex;
    flex-direction: column;
}

.melhorStackAlternativas {
    display: flex;
    flex-direction: row;
}

.checkMelhorStack {
    margin-right: 60px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #6C6A83;
}

.rightColumn {
    display: flex;
    flex-direction: column;
}

.divTipoTeste {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: auto;
    padding: 4px 21px;
    display: flex;
    flex-direction: column;
}

.tiposTesteAlternativas {
    display: flex;
    flex-direction: row;
}

.radioTipoTeste {
    margin-right: 60px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #6C6A83;
}

.divSelectTestaTudo {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-top: 21px;
    width: auto;
    padding: 4px 21px;
    display: flex;
    flex-direction: column;
}

.selectTestaTudo {
    background: #FFFFFF;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    border: 1px solid #DCDCE0;
    box-sizing: border-box;
    border-radius: 8px;
    height: 40px;
    width: 320px;
    margin-top: 8px;
    margin-bottom: 11px;
    color: #6C6A83;
}

.selectTestaTudo:active, .selectTestaTudo:focus {
    outline: none;
}

.optionsSelect {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #6C6A83;
}

.divButton {
    padding-top: 21px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.buttonEnviar {
    background: #03ABE3;
    box-shadow: 5px 10px 15px rgba(45, 156, 219, 0.79);
    border-radius: 15px;
    width: 123px;
    height: 44px;
    margin: 0px 0px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    color: white;
    border: none;
}

.buttonEnviar:active, .buttonEnviar:focus {
    outline: none;
}